html {
    scroll-behavior: smooth; 
}

body {
    margin: 0;
    overflow-x: hidden;
}

.intro {
    position: relative;
    background-image: url('features/images/youth.jpg');
    background-size: cover;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(280, 250, 268, 0.59);
    backdrop-filter: blur(2px);
}

.nav {
    position: relative;
    z-index: 1;
}

.logo {
    display: block;
    margin: 0 auto;
    height: 100px;
}

.intro2 {
    position: relative;
    z-index: 1;
    color: #193869;
    text-align: left;
    font-family: 'Pirata One', cursive;
    font-size: 70px;
    font-style: normal;
    font-weight: 200;
    line-height: 90px;
    letter-spacing: 0.88px;
    padding-left: 0.5rem;
    margin: 0;
}

.head2 {
    position: relative;
    z-index: 1;
    color: #193869;
    margin: 0;
    padding-left: 0.5rem;
    text-align: left;
    font-family: Oswald;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0.21px;
    padding-bottom: 1rem;
}

.strike {
    width: 100vw;
    height: 80vh;
    fill: none;
    position: absolute;
    top: 2px;
}

.sub {
    color: #FFF;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.14px;
    margin: 0;
}

.content1 {
    padding-top: 2rem;
    padding-left: 0.5rem;
    backdrop-filter: blur(2px);
    background-color: rgb(63, 110, 169);
    padding-bottom: 2rem;
}

.head3 {
    color: #193869;
    text-align: left;
    font-family: 'Pirata One', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 0.88px;
    padding-left: 0.5rem;
    margin: 0;

}

.content2 {
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
    background-image: url('features/images/youth2.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.background2 {
    position: absolute;
    top: 55rem;
    left: 0;
    right: 0;
    bottom: -31.5rem;
    background-color: rgba(280, 250, 268, 0.59);
    backdrop-filter: blur(0px);
}

.cub {
    position: relative;
    z-index: 1;
    text-align: center;
    color:#193869;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: 0.14px;
    margin: 0;
}

.content3 {
    padding-left: 0.5rem;
    backdrop-filter: blur(2px);
    background-color: rgb(63, 110, 169);
    padding-bottom: 2rem;
}

.content4 {
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
    background-image: url('features/images/youth2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-left: 24px;
}

.background3 {
    position: absolute;
    top: 83.5rem;
    left: 0;
    right: 0;
    bottom: -85rem;
    background-color: rgba(280, 250, 268, 0.59);
    backdrop-filter: blur(0px);
}

.form {
    position: relative;
    z-index: 1;
    padding-top: 1rem;
}

.flex1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

.name-input {
    background-color: rgba(161, 206, 284, 0.59);
    border-color: #193869;
    border-width: 0px;
    border-radius: 8px;
}

.name-input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    color: #49505a;
}
  
.email-input {
    background-color: rgba(161, 206, 284, 0.59);
    border-width: 0px;
    border-radius: 8px;
}

.email-input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    color: #49505a;
}

.flex2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
  
.message-input {
    background-color: rgba(161, 206, 284, 0.59);
    border-width: 0;
    border-radius: 8px;
}

.message-input::placeholder {
    font-weight: 400;
    font-size: 15px;
    color: #49505a;
    font-style: italic;
}
  
textarea {
    padding: 12px 12px 48px 12px;
    border-width: 0;
}
  
.register {
    background-color:#193869;
    color: #fff;
    padding: 12px;
    border-radius: 4px;
    margin: 0 30% 0 30%;
    border: 0;
    font-weight: 500;
    font-size: 17px;
    font-family: Work Sans;
}
  
.register:hover {
    transform: scale(1.15);
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}
  
.register:active {
    background: #008552;
}  
  
@media screen and (width: 375px) {
    .background2 {
        bottom: -32.5rem;
    }
    
}

@media screen and (width: 390px) {

    .background2 {
        bottom: -30rem;
    }

    .background3 {
        top: 82.5rem;   
    }
}

@media screen and (width: 360px) {

    .background2 {
        bottom: -17rem;
    }
}

@media screen and (width: 412px) {

    .background2 {
        top: 53.6rem;   
        bottom: -3.5rem;
    }
    .background3 {
        top: 79.5rem;   
    }
}

@media screen and (width: 425px) {

    .background2 {
        top: 53rem;
    }
    .background3 {
        top: 79.5rem;
    }
}